version: "3.8"

services:
  service-template-fpm:
    build:
      context: ./
      dockerfile: .docker/php/Dockerfile
      args:
        UID: 1000
        GID: 1000
      target: dev-xdebug

  service-template-db:
    ports:
      - "50100:3306"
